nav.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand.d-lg-none(href="#") Silent Dinners DC
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-02")
        span.navbar-toggler-icon
    .collapse.navbar-collapse.justify-content-md-center#navigations-02
        .row.w-100
            .col-4.pl-lg-0
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="index.html#how-it-works") How it works
                    li.nav-item
                        a.nav-link(href="index.html#upcoming") Find a dinner
                    li.nav-item
                        a.nav-link(href="host.html") Host a dinner
            .col-4.navbar-nav.text-center.pr-0.d-none.d-lg-block
                a.navbar-brand.mr-0(href="index.html") Silent Dinners DC
            .col-4.pr-lg-0
                ul.navbar-nav.justify-content-end
                    li.nav-item
                        a.nav-link(href="#") Login
