doctype html
html(lang="pl")
    include includes/head.pug
    body
        .container-fluid

            include includes/navbar.pug

            section.jumbotron
                .container.text-center
                    h1.display-4 Host a Silent Dinner
                    p.lead.text-muted Host a dinner for the silent dinner community. Host a delightful vegetarian meal and facilitate the evening. You must attend at least three silent dinners before you can become a host.

                    a.btn.btn-primary.my-2(href="#") Become a host
                    a.btn.btn-link.my-2(href="#") Read more