doctype html
html(lang="pl")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        
        link(href="css/bootstrap/bootstrap-theme.css" rel="stylesheet")
    body
        .container-fluid

            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand.d-lg-none(href="#") SilentDinners.org
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-02")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse.justify-content-md-center#navigations-02
                    .row.w-100
                        .col-4.pl-lg-0
                            ul.navbar-nav
                                li.nav-item
                                    a.nav-link.active(href="#") How it works
                                li.nav-item
                                    a.nav-link(href="#") Find a dinner
                                li.nav-item
                                    a.nav-link(href="#") Support
                        .col-4.navbar-nav.text-center.pr-0.d-none.d-lg-block
                            a.navbar-brand.mr-0(href="#") SilentDinners.org
                        .col-4.pr-lg-0
                            ul.navbar-nav.justify-content-end
                                li.nav-item
                                    a.nav-link(href="#") Login
                                li.nav-item
                                    a.nav-link(href="#") Whitepaper
                                li.nav-item
                                    a.nav-link(href="#") Token


            section.jumbotron
                .container.text-center
                    h1.display-4 Join a Silent Dinner
                    p.lead.text-muted Join a silent dinner in the tradition of the Plum Village Monastery. Hosts open up their homes to 6-10 guests for a homemade vegetarian meal; the first 15 minutes are enjoyed in silence, followed by mindful conversation and getting to know your dinner mates. Community-organized and 100% nonprofit.

                    a.btn.btn-primary.my-2(href="#") Find a dinner
                    a.btn.btn-link.my-2(href="#") Read more

            section.py-5
                .container.text-center
                    h2.mb-3 How It Works
                    .row.mb-3
                        .col-md-4.p-2.py-3
                            img.img-fluid.mx-auto.my-4(src="/images/Screen_Shot_2019-02-01_at_8.21.27_PM.png", alt="")
                            h4.my-4 #[small.rounded-circle.px-3.py-2.mr-2.bg-primary 1] Sign up for a dinner
                            p Find a local dinner near you. Sign up to notify the host and reserve your spot.
                        .col-md-4.p-2.py-3
                            img.img-fluid.mx-auto.my-4(src="/images/IMG_20181011_193821768.jpg", alt="")
                            h4.my-4 #[small.rounded-circle.px-3.py-2.mr-2.bg-primary 2] Get matched with a host
                            p Once you are matched, you'll be asked to send $10 to your host via venmo or paypal to cover the cost of food and to confirm your spot.
                        .col-md-4.p-2.py-3
                            img.img-fluid.mx-auto.my-4(src="/images/IMG_20190127_191319330.jpg", alt="")
                            h4.my-4 #[small.rounded-circle.px-3.py-2.mr-2.bg-primary 3] Practice mindfulness through food
                            p Meet mindful people in your community over dinner together. The first 15 minutes will be enjoyed in silence.

                    a.btn.btn-primary(href="") Find a dinner

            section.py-5
                .container.text-center
                    h2 Upcoming dinners
                    img.img-fluid.my-4(src="http://bootstrapshuffle.com/placeholder/pictures/bg_16-9.svg?primary=007bff", alt="")

                    .row.mt-5.text-left
                        .col-md-4.d-flex.align-items-start
                            img.mr-2.mt-2(src="placeholder/icons/check.svg", alt="")
                            div
                                h3.mb-3 Security
                                p Your data is virtually unhackable compared to traditional net
                        .col-md-4.d-flex.align-items-start
                            img.mr-2.mt-2(src="placeholder/icons/check.svg", alt="")
                            div
                                h3.mb-3 Privacy
                                p Nobody is tracking you when your activity when you use Piper Net
                        .col-md-4.d-flex.align-items-start
                            img.mr-2.mt-2(src="placeholder/icons/check.svg", alt="")
                            div
                                h3.mb-3 Speed
                                p Previously unimaginable transfer speed thanks to middle-out compression

                    a.btn.btn-primary.mt-4(href="#") Read more


            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand.d-lg-none(href="#") Pied Piper
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-02")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse.justify-content-md-center#navigations-02
                    .row.w-100
                        .col-4.pl-lg-0
                            ul.navbar-nav
                                li.nav-item
                                    a.nav-link.active(href="#") Features
                                        span.sr-only (current)
                                li.nav-item
                                    a.nav-link(href="#") Enterprise
                                li.nav-item
                                    a.nav-link(href="#") Support
                        .col-4.navbar-nav.text-center.pr-0.d-none.d-lg-block
                            a.navbar-brand.mr-0(href="#") Pied Piper
                        .col-4.pr-lg-0
                            ul.navbar-nav.justify-content-end
                                li.nav-item
                                    a.nav-link(href="#") ICO
                                li.nav-item
                                    a.nav-link(href="#") Whitepaper
                                li.nav-item
                                    a.nav-link(href="#") Token


        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")