doctype html
html(lang="pl")
    head
        title Silent Dinners DC
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")

        link(href="css/bootstrap/bootstrap-theme.css" rel="stylesheet")
    body
        .container-fluid

            nav.navbar.navbar-expand-lg.navbar-light
                a.navbar-brand.d-lg-none(href="#") Silent Dinners DC
                button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navigations-02")
                    span.navbar-toggler-icon
                .collapse.navbar-collapse.justify-content-md-center#navigations-02
                    .row.w-100
                        .col-4.pl-lg-0
                            ul.navbar-nav
                                li.nav-item
                                    a.nav-link.active(href="#") How it works
                                li.nav-item
                                    a.nav-link(href="#") Find a dinner
                                li.nav-item
                                    a.nav-link(href="#") Host a dinner
                        .col-4.navbar-nav.text-center.pr-0.d-none.d-lg-block
                            a.navbar-brand.mr-0(href="#") Silent Dinners DC
                        .col-4.pr-lg-0
                            ul.navbar-nav.justify-content-end
                                li.nav-item
                                    a.nav-link(href="#") Login

            section.jumbotron
                .container.text-center
                    h1.display-4 Join a Silent Dinner
                    p.lead.text-muted Join a silent dinner in the tradition of the Plum Village Monastery. Hosts open up their homes to 6-10 guests for a homemade vegetarian meal; the first 15 minutes are enjoyed in silence, followed by mindful conversation and getting to know your dinner mates. 100% community-organized and not for profit.

                    a.btn.btn-primary.my-2(href="#") Find a dinner
                    a.btn.btn-link.my-2(href="#") Read more

            section.py-5
                .container.text-center
                    h2.mb-3 How It Works
                    .row.mb-3
                        .col-md-4.p-2.py-3
                            img.img-fluid.mx-auto.my-4(src="/images/Screen_Shot_2019-02-01_at_8.21.27_PM.png", alt="")
                            h4.my-4 #[small.rounded-circle.px-3.py-2.mr-2.bg-primary 1] Sign up for a dinner
                            p Find a local dinner near you. Sign up to notify the host and reserve your spot.
                        .col-md-4.p-2.py-3
                            img.img-fluid.mx-auto.my-4(src="/images/IMG_20181011_193821768.jpg", alt="")
                            h4.my-4 #[small.rounded-circle.px-3.py-2.mr-2.bg-primary 2] Get matched with a host
                            p Once you are matched, you'll be asked to send $10 to your host via venmo or paypal to cover the cost of food and to confirm your spot.
                        .col-md-4.p-2.py-3
                            img.img-fluid.mx-auto.my-4(src="/images/IMG_20190127_191319330.jpg", alt="")
                            h4.my-4 #[small.rounded-circle.px-3.py-2.mr-2.bg-primary 3] Practice mindfulness through food
                            p Meet mindful people in your community over dinner together. The first 15 minutes will be enjoyed in silence.

            section.py-5
                .container.text-center
                    h2 Upcoming dinners
                    .row.mb-3

                    table.table
                        tr.thead-light
                            th Date
                            th Spots remaining
                            th Neighborhood
                            th Sign up
                        tr
                            th Thurs Feb 7th, 2019 @ 7pm
                            th 3/10
                            th Shaw
                            th
                                a.btn.btn-primary.mt-6(href="#") Register
                        tr
                            th Sun Mar 10th, 2019 @ 6pm
                            th 6/8
                            th Bloomingdale
                            th
                                a.btn.btn-primary.mt-6(href="#") Register
                        tr
                            th Thurs Mar 21st, 2019 @ 6:30pm
                            th 7/7
                            th Mount Pleasant
                            th
                                a.btn.btn-primary.mt-6(href="#") Register


        script(src="js/jquery/jquery.min.js")
        script(src="js/popper/popper.min.js")
        script(src="js/bootstrap/bootstrap.min.js")
